#header{
    width: 200vh;
    height: 100vh;
    background-image: url(imege1);
    background-size: cover;
    filter: brightness(1);
}
.container{
    padding: 10px 10px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 75px;
    height: 75px;
}
.logo2{
    padding: auto;
    width: 35px;
    height: 35px;
    margin-top: 10px;
}
nav ul li{
    font-size: 16px;
    color: white;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    position: relative;
}
.header-text h1{
    font-weight: bold;
    margin-left: 20;
    color: white;
    font-size: 65px;
    margin-top: 10%;
}
a{
    text-decoration: none;
}
.btn{
    position: relative;
    font-size: 25px;
    margin: 20px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border: 1px solid black;
}
.container2{
    margin-top: -275px;
    float: right;
    width: 50%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.box1{
    border-radius: 15px;
    background-image: url(imege1jpg);
    background-size: cover;
    height: 250px;
    width: 250px;
}
.box2{
    border-radius: 15px;
    background-image: url(Image\ 2.jpeg);
    background-size: cover;
    height: 250px;
    width: 250px;
}
.box3{
    border-radius: 15px;
    background-image: url(Image\ 3.jpeg);
    background-size: cover;
    height: 250px;
    width: 250px;
    margin-top: 10px;
}
.box4{
    border-radius: 15px;
    background-image: url(imege4.jpeg);
    background-size: cover;
    height: 250px;
    width: 250px;
    margin-top: 10px;
}
#b1{
    margin: 10px;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
}
#b2{
    margin: 10px;
    color: white;
    font-size: 18px;
    
}
.box1:hover{
    transition: 1s;
    transform: translateY(-8px);
}
.box2:hover{
    transition: 1s;
    transform: translateY(-8px);
}
.box3:hover{
    transition: 1s;
    transform: translateY(-8px);
}
.box4:hover{
    transition: 1s;
    transform: translateY(-8px);
}
.header-text p{
    color: white;
}
@media only screen and (max-width:900px)and (min-width:300px)
{
  body{
    background-size: 115% 100%;
    background-repeat: repeat;
    background-position: center top;
  }
  .container{
    width: unset;
    margin: 0 8%;
  }
    .container2{
        font-size: 50px;
        text-align:center;
    }
    .box{
        widht: 100%;
        flex-direction:colum;
        align-item:center;
        margin-top: 5vh;
    
}
    .second {
        widht:55%;
        height:210px;
    }
}
@media screen and(min-widht:280px) and (max-widht:450px){
  body{
      background-size:300% 100%;
      background-repeat: repeat;
      background-position: center top;
  }
    .container nav li{
    display: block;
    margin-right: unset;
    }
.container2{
      text-align: center;
}
    .container2 button{
     font-size: 12px;
        margin-left: 100px;
        border-radius: 15px;
        height: 30px;
        widht: 80px;
    }
}




    



